<!-- views/partials/header.ejs-->

<div class="db-heading">
  COVID-19 Dashboard
  <hr class="db-sep" />
</div>
<div class="db-btns">
  <a href="/all"><button class="db-btn">All States</button></a>
  <button class="db-btn">Search State</button>
</div>
