<!-- views/partials/header.ejs-->

<div class="db-heading">
  COVID-19 Dashboard
  <hr class="db-sep" />
</div>
<div class="db-btns">
  <a href="/dashboard"><button class="db-btn">Graphs</button></a>
  <a href="/all"><button class="db-btn">All States</button></a>
  <button class="db-btn" onclick="clickHandler()">Search State</button>
  <a href="/"><button class="db-btn">Home</button></a>
</div>
<div class="db-search">
  <form>
    <input type="text" id="search-state" placeholder="Enter your state here" name="state"></input>
    <button class="search-btn" type="submit">Search</button>
  </form>
</div>
