/*HOMEPAGE STYLING HERE -----------------------------------------------------------*/
body {
  background-color: #040d5a;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fdee6a;
}

.container {
  margin-top: 200px;
  padding-left: 100px;
}

.sub-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}

.heading {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 68px;
  margin-bottom: 60px;
}

#myspan {
  background-color: #e4ffcf;
  color: #fa5dbb;
  padding: 5px 10px;
  border-radius: 5px;
}

.heading:hover {
  cursor: pointer;
}

.sub-heading:hover {
  cursor: pointer;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #040d5a;
  color: white;
}

.btn:hover {
  cursor: pointer;
  color: #040d5a;
  background-color: #fa5dbb;
}

.btn:focus {
  outline: none;
}
/*DASHBOARD STYLING HERE---------------------------------------------------------*/

.db-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.db-heading {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  color: #d4ffe5;
}

.db-heading:hover {
  cursor: pointer;
}

#selected {
  border-bottom: 5px solid #fa5dbb;
}

.db-sep {
  border: none;
  height: 10px;
  width: 500px;
  margin-top: -5px;
  background-color: #fa5dbb;
}

.db-btns {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.db-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: none;
  font-size: 26px;
  background-color: #040d5a;
  color: #fdee6a;
  margin: 0px 10px;
  padding: 5px 10px;
}

.db-btn:hover {
  cursor: pointer;
}

.db-btn:focus {
  outline: none;
  border-bottom: 5px solid #fa5dbb;
}

.db-search {
  text-align: center;
  margin: 20px 0px;
  display: none;
}

#search-state {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
  padding: 5px;
}

.search-btn {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin: 0px 10px;
  color: #fa5dbb;
  background-color: #d4ffe5;
}

.search-btn:hover {
  cursor: pointer;
}

.search-btn:focus {
  outline: none;
}

.states {
  margin-top: 30px;
  background-color: #d4ffe5;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.states-table-header {
  display: flex;
  margin: 10px 0px;
  justify-content: space-around;
}

.states-heading {
  color: #040d5a;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.states-heading:hover {
  cursor: pointer;
}

.state {
  width: 25%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-right: auto;
  margin-left: auto;
}

#state-row {
  padding: 5px 0px;
}

#state-row:hover {
  background-color: #fdee6a;
  cursor: pointer;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
  font-size: 24;
  margin-bottom: 20px;
}

.footer:hover {
  cursor: pointer;
}

.error {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: white;
  margin-top: 20px;
  font-size: 24px;
}

#mychart {
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #d4ffe5;
}

.db-content {
  border: 1px solid white;
  padding: 20px;
  background-color: #d4ffe5;
  margin-top: 40px;
  border-radius: 5px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.db-content:hover {
  cursor: pointer;
}

.content-heading {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #040d5a;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

.content {
  font-family: "Lato", sans-serif;
  font-family: 800;
  font-size: 30px;
  padding: 5px;
  margin-bottom: 10px;
}

#prec {
  background-color: #fa5dbb;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 50px;
  }

  .sub-heading {
    font-size: 18px;
  }

  .heading {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .db-heading {
    font-size: 36px;
  }

  .db-sep {
    width: 360px;
  }

  .db-btn {
    font-size: 18px;
  }

  .db-btn:focus {
    border-bottom-width: 4px;
  }

  .states-heading {
    font-size: 18px;
  }

  .state {
    font-size: 16px;
  }

  #mychart {
    padding: 0px;
  }
}
