<!-- views/pages/dashboard.ejs-->
<!DOCTYPE html>
<html>
  <head>
    <title>COVID-19 Dashboard</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="db-container">
      <%- include('../partials/header') %>
      <div class="db-content">
        <div class="content-heading">
          Precautions to take against COVID-19
        </div>
        <div class="content"><span id="prec">STAY</span> Home</div>
        <div class="content"><span id="prec">KEEP</span> a safe distance</div>
        <div class="content"><span id="prec">WASH</span> hands often</div>
        <div class="content"><span id="prec">COVER</span> your cough</div>
        <div class="content">
          <span id="prec">SICK?</span> Call the helpline
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
    <script type="text/javascript" src="/assets/dashboard.js"></script>
  </body>
</html>
