<!DOCTYPE html>
<html>
  <head>
    <title>COVID-19 Dashboard</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="db-container">
      <%- include('../partials/header') %>
      <div class="error">Please check the spelling of the entered state</div>
    </div>
    <%- include('../partials/footer') %>
    <script type="text/javascript" src="/assets/dashboard.js"></script>
  </body>
</html>
